{% extends 'base.html' %}

{%  block title %}
    Login
{% endblock %}
  
  	
{%  block content %}
    <form class="form-signin text-center" action="{{url_for('login')}}" method="POST">
      <img class="mb-4" src="../static/icons.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputLogin" class="sr-only">Email address</label>
      <input id="inputLogin" class="form-control" placeholder="Login" name="login" required="" autofocus="" type="login">
      <label for="inputPassword" class="sr-only">Password</label>
      <input id="inputPassword" class="form-control" placeholder="Password" name="password" required="" type="password">
      <div class="checkbox mb-3">
        <label>
          <input value="remember-me" type="checkbox"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p style="color:red">{{message}}</p>
      
    </form>
{% endblock %}
   

  

</html>